.mobile-header {
  display: none;
}

@media mq-mobile {
  .mobile-header {
    display: block;
    height: 45px;
    color: white;
    text-align: right;
    background-color: color-default;
    padding: 5px 10px;
    .title {
      font-size: 32px;
      line-height: 32px;
      vertical-align: middle;
      color: white;
      &:hover {
        color: color-link-sidebar;
      }
    }

    .sidebar-toggle {
    	position: relative;
    	float: left;
    	padding: 9px 5px;
    	margin-top: 0px;
    	margin-right: 15px;
    	margin-bottom: 0px;
    	background-color: transparent;
    	background-image: none;
    	border: 1px solid transparent;
    	border-radius: 4px;
    }
    .sidebar-toggle:focus {
    	outline:0;
    }
    .sidebar-toggle .icon-bar {
    	display: block;
    	width: 22px;
    	height: 2px;
    	border-radius: 1px;
      background-color: white;
    }
    .sidebar-toggle .icon-bar+.icon-bar {
    	margin-top:4px;
    }
  }
}
