// Colors
color-default = #333
color-grey = #999
color-border = #ddd
color-link = #19734b
color-link-hover = #2ca831
color-link-sidebar = #cfe3cb;

// Fonts
font-sans = "微软雅黑", "黑体", "Helvetica Neue", Helvetica, Arial, sans-serif
font-serif = "宋体", Georgia, "Times New Roman", serif
font-mono = "新宋","Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace
font-size = 14px
line-height = 1.6em

// Layout
article-padding = 20px

// Media queries
mq-mobile = "screen and (max-width: 768px)"
mq-normal = "screen and (min-width: 769px)"
