<% if (theme.jiathis) { %>
  <!-- JiaThis Button BEGIN -->
  <div class="jiathis_style_32x32">
    <a class="jiathis_button_weixin"></a>
    <a class="jiathis_button_tsina"></a>
  	<a class="jiathis_button_qzone"></a>
  	<a href="http://www.jiathis.com/share?uid=<%= theme.jiathis %>" class="jiathis jtico jtico_jiathis" target="_blank"></a>
  </div>
  <script type="text/javascript">
  var jiathis_config = {data_track_clickback:'true'};
  </script>
  <script type="text/javascript" src="//v3.jiathis.com/code/jia.js?uid=1589291" charset="utf-8"></script>
  <!-- JiaThis Button END -->
<% } %>
