<div class="main-footer">
  <% if (theme.copyright) { %>
    <%- theme.copyright %>
  <% } else { %>
    © <%= new Date().getFullYear() %> <%= config.title %> - Powered by <a href="http://hexo.io" target="_blank">Hexo</a> - Theme <a href="https://github.com/denjones/hexo-theme-chan" target="_blank">Chan</a>
  <% } %>
</div>
